In [ ]:
import pandas

In [ ]:
import pandas
mydataset = {
'cars': ["BMW", "Volvo", "Ford"],
'passings': [3, 7, 2]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Series Representation:\n",series)
array_representation = series.values
index_object = series.index
print("Array Representation:", array_representation)
print("Index Object:", index_object)

Series Representation:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Array Representation: [10 20 30 40 50]
Index Object: RangeIndex(start=0, stop=5, step=1)

In [ ]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
print(series['b'])
print(series[['a', 'c', 'e']])

20
a    10
c    30
e    50
dtype: int64

In [ ]:
gt=series > 25
print("series>25= \n",gt)
series_filtered = series[series > 25]
print("Filtered Series:\n", series_filtered)
series_multiplied = series * 2
print("\nSeries after Scalar Multiplication:\n", series_multiplied)

series>25=
 a    False
b    False
c     True
d     True
e     True
dtype: bool
Filtered Series:
 c    30
d    40
e    50
dtype: int64

Series after Scalar Multiplication:
 a     20
b     40
c     60
d     80
e    100
dtype: int64

In [ ]:
import numpy as np
print("series= \n",series)
series_sqrt = np.sqrt(series)
print("\nSeries after Applying Square Root:\n", series_sqrt)

series=
 a    10
b    20
c    30
d    40
e    50
dtype: int64

Series after Applying Square Root:
 a    3.162278
b    4.472136
c    5.477226
d    6.324555
e    7.071068
dtype: float64

In [ ]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
print('California' in population)
print('Canada' in population)

True
False

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995, 'North Carolina':123456}
area = pd.Series(area_dict)
print("Population Series:\n", population)
print("\nArea Series:\n", area)
population_density = population / area
print("\nPopulation Density:\n", population_density)

Population Series:
 California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Area Series:
 California        423967
Texas             695662
New York          141297
Florida           170312
Illinois          149995
North Carolina    123456
dtype: int64

Population Density:
 California         90.413926
Florida           114.806121
Illinois           85.883763
New York          139.076746
North Carolina           NaN
Texas              38.018740
dtype: float64

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [ ]:
import pandas as pd

subject1 = pd.Series([80, 75, 92, 68, 70, 95, 88], index=['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6', 'Student 7'])
subject2 = pd.Series([72, 88, 79, 91, 65, 82, 76], index=['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6', 'Student 7'])
subject3 = pd.Series([90, 68, 85, 73, 78, 92, 80], index=['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6', 'Student 7'])
subject4 = pd.Series([65, 92, 82, 88, 75, 79, 85], index=['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6', 'Student 7'])
subject5 = pd.Series([78, 70, 95, 62, 83, 86, 91], index=['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6', 'Student 7'])

total_marks = subject1 + subject2 + subject3 + subject4 + subject5
print("Total marks= \n", total_marks)

print("Total Marks for Each Student:")
for i, (student, marks) in enumerate(total_marks.items()):
    print(f"Student {i+1} ({student}): {marks}")

Total marks=
 Student 1    385
Student 2    393
Student 3    433
Student 4    382
Student 5    371
Student 6    434
Student 7    420
dtype: int64
Total Marks for Each Student:
Student 1 (Student 1): 385
Student 2 (Student 2): 393
Student 3 (Student 3): 433
Student 4 (Student 4): 382
Student 5 (Student 5): 371
Student 6 (Student 6): 434
Student 7 (Student 7): 420

In [ ]:
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
s = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print("Index:", s.index)
print("Index values:", s.index.values)
print("Is unique:", s.index.is_unique)
print("Index of 'c':", s.index.get_loc('c'))
print("Slice with 'b':'d':", s['b':'d'])
print("Fancy indexing with ['a', 'e']:", s[['a', 'e']])

a    0
b    1
c    2
d    3
e    4
dtype: int64
Index: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Index values: ['a' 'b' 'c' 'd' 'e']
Is unique: True
Index of 'c': 2
Slice with 'b':'d': b    1
c    2
d    3
dtype: int64
Fancy indexing with ['a', 'e']: a    0
e    4
dtype: int64

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)
obj4 = obj3.reindex(range(6), method='ffill') #forward-fills the values
obj4

0      blue
2    purple
4    yellow
dtype: object

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
import pandas as pd
import numpy as np
# Reindexing rows
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print("Reindexing rows:")
print(obj2)
# Reindexing columns
df = pd.DataFrame(np.arange(9).reshape((3, 3)),
index=['a', 'c', 'd'],
columns=['Ohio', 'Texas', 'California'])
df2 = df.reindex(columns=['Texas', 'Utah', 'California'])
print("\nReindexing columns:")
print(df2)

Reindexing rows:
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

Reindexing columns:
   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj4 = obj3.reindex(range(6), method='ffill')
print("Method 'ffill':")
print(obj4)
obj5 = obj3.reindex(range(6), method='bfill')
print("\nMethod 'bfill':")
print(obj5)
obj6 = obj3.reindex(range(6), fill_value='red')
print("\nFill value:")
print(obj6)
obj7 = pd.Series([1, 2, 3], index=[0, 2, 5])
obj8 = obj7.reindex(range(7), method='ffill', limit=1)
print("\nLimit:")
print(obj8)

Method 'ffill':
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Method 'bfill':
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

Fill value:
0      blue
1       red
2    purple
3       red
4    yellow
5       red
dtype: object

Limit:
0    1.0
1    1.0
2    2.0
3    2.0
4    NaN
5    3.0
6    3.0
dtype: float64

In [ ]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df.reindex(['bar', 'baz', 'foo', 'qux'], level='first')
print("\nLevel:")
print(df)

Level:
                     A         B
first second
bar   one     0.043299 -1.558948
      two     2.821066  0.779396
baz   one    -0.002207  0.101065
      two    -0.041169 -0.984413
foo   one    -0.149175 -0.175941
      two    -0.753045 -0.816692
qux   one    -0.063126 -1.187791
      two     0.548968 -0.615055

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
print(new_obj)
obj.drop(['d', 'c'])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Dallas', 'NJ', 'New York'],
columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15

In [ ]:
data.drop(['one', 'four'], axis='columns')

          two  three
Ohio        1      2
Dallas      5      6
NJ          9     10
New York   13     14

In [ ]:
data.drop(['NJ', 'Ohio'], inplace=True)
print(data)

          one  two  three  four
Dallas      4    5      6     7
New York   12   13     14    15

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print("obj['b']= \n",obj['b'])
print("obj[1]= \n",obj[1])
print("obj[2:4]= \n",obj[2:4])
print("obj[['b', 'a', 'd']]= \n",obj[['b', 'a', 'd']])
print("obj[b:d]= \n",obj['b':'d'])
print("obj[[1, 3]]= \n",obj[[1, 3]])
print("obj[obj < 2]= \n",obj[obj < 2])

obj['b']=
 1.0
obj[1]=
 1.0
obj[2:4]=
 c    2.0
d    3.0
dtype: float64
obj[['b', 'a', 'd']]=
 b    1.0
a    0.0
d    3.0
dtype: float64
obj[b:d]=
 b    1.0
c    2.0
d    3.0
dtype: float64
obj[[1, 3]]=
 b    1.0
d    3.0
dtype: float64
obj[obj < 2]=
 a    0.0
b    1.0
dtype: float64

/tmp/ipython-input-37-3573047356.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[1]= \n",obj[1])
/tmp/ipython-input-37-3573047356.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[[1, 3]]= \n",obj[[1, 3]])

In [ ]:
data.loc['Dallas':'New York', 'two']

Dallas       5
New York    13
Name: two, dtype: int64

In [ ]:
data < 5
data[data < 5] = 0
data

          one  two  three  four
Dallas      0    5      6     7
New York   12   13     14    15

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})
print(df1)
print(df2)
print("Addition:\n", df1 + df2)

print("\nSubtraction:\n", df1 - df2)

print("\nMultiplication:\n", df1 * df2)

print("\nDivision:\n", df1 / df2)

   A  B
0  1  4
1  2  5
2  3  6
   A   B
0  7  10
1  8  11
2  9  12
Addition:
     A   B
0   8  14
1  10  16
2  12  18

Subtraction:
    A  B
0 -6 -6
1 -6 -6
2 -6 -6

Multiplication:
     A   B
0   7  40
1  16  55
2  27  72

Division:
           A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000

In [ ]:
import pandas as pd
df3 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=[0, 1, 2])
df4 = pd.DataFrame({'B': [7, 8, 9], 'C': [10, 11, 12]}, index=[1, 2, 3])
print(df3)
print(df4)
result = df3 + df4
print("Result of df3 + df4 with alignment:\n", result)

   A  B
0  1  4
1  2  5
2  3  6
   B   C
1  7  10
2  8  11
3  9  12
Result of df3 + df4 with alignment:
     A     B   C
0 NaN   NaN NaN
1 NaN  12.0 NaN
2 NaN  14.0 NaN
3 NaN   NaN NaN

In [ ]:
result_div = df3.div(df4, fill_value=1)
print("\nResult of df3.div(df4) with fill_value=1:\n", result_div)
result_rdiv = df3.rdiv(df4, fill_value=1)
print("\nResult of df3.rdiv(df4) with fill_value=1:\n", result_rdiv)

Result of df3.div(df4) with fill_value=1:
      A         B         C
0  1.0  4.000000       NaN
1  2.0  0.714286  0.100000
2  3.0  0.750000  0.090909
3  NaN  0.111111  0.083333

Result of df3.rdiv(df4) with fill_value=1:
           A         B     C
0  1.000000  0.250000   NaN
1  0.500000  1.400000  10.0
2  0.333333  1.333333  11.0
3       NaN  9.000000  12.0

In [ ]:

result_add = df3.add(df4, fill_value=0)
print("\nResult of df3.add(df4) with fill_value=0:\n", result_add)

Result of df3.add(df4) with fill_value=0:
      A     B     C
0  1.0   4.0   NaN
1  2.0  12.0  10.0
2  3.0  14.0  11.0
3  NaN   9.0  12.0

In [ ]:
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])
result_pow_series = series1.pow(series2, fill_value=1)
print("\nResult of series1.pow(series2) with fill_value=1:\n", result_pow_series)
result_rpow_series = series1.rpow(series2, fill_value=1)
print("\nResult of series1.rpow(series2) with fill_value=1:\n", result_rpow_series)
result_pow_df = df3.pow(df4, fill_value=1)
print("\nResult of df3.pow(df4) with fill_value=1:\n", result_pow_df)
result_rpow_df = df3.rpow(df4, fill_value=1)
print("\nResult of df3.rpow(df4) with fill_value=1:\n", result_rpow_df)

Result of series1.pow(series2) with fill_value=1:
 a      1.0
b     16.0
c    243.0
d      1.0
dtype: float64

Result of series1.rpow(series2) with fill_value=1:
 a      1.0
b     16.0
c    125.0
d      6.0
dtype: float64

Result of df3.pow(df4) with fill_value=1:
      A          B    C
0  1.0        4.0  NaN
1  2.0    78125.0  1.0
2  3.0  1679616.0  1.0
3  NaN        1.0  1.0

Result of df3.rpow(df4) with fill_value=1:
      A         B     C
0  1.0       1.0   NaN
1  1.0   16807.0  10.0
2  1.0  262144.0  11.0
3  NaN       9.0  12.0

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
df_sort_series = obj.sort_index()
print(df_sort_series)
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
index=['three', 'one'],
columns=['d', 'a', 'b', 'c'])
df_sort_dataframe = frame.sort_index()
print("I \n",df_sort_dataframe)
df_sort_dataframe_axis1 = frame.sort_index(axis=1)
print("II \n",df_sort_dataframe_axis1)
df_sort_dataframe_ascending = frame.sort_index(axis=1, ascending=False)
print("III \n",df_sort_dataframe_ascending)
df_sort_values_by_column = frame.sort_values(by='b')
print("IV \n",df_sort_values_by_column)

a    1
b    2
c    3
d    0
dtype: int64
I
        d  a  b  c
one    4  5  6  7
three  0  1  2  3
II
        a  b  c  d
three  1  2  3  0
one    5  6  7  4
III
        d  c  b  a
three  0  3  2  1
one    4  7  6  5
IV
        d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
import pandas as pd
import numpy as np
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print("I \n",frame)
df_sort_dataframe_by_column = frame.sort_values(by='b')
print("II \n",df_sort_dataframe_by_column)
df_sort_dataframe_by_multiple_columns = frame.sort_values(by=['a', 'b'])
print("III \n",df_sort_dataframe_by_multiple_columns)

I
    b  a
0  4  0
1  7  1
2 -3  0
3  2  1
II
    b  a
2 -3  0
3  2  1
0  4  0
1  7  1
III
    b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [ ]:

obj = pd.Series([7, -5, 7, 3, 2, 0, 4])
df_rank = obj.rank()
print("Rank \n", df_rank)
df_rank_method_first = obj.rank(method='first')
print("rank- Method=first \n", df_rank_method_first)
df_rank_ascending = obj.rank(ascending=False, method='max')
print("rank- Method=max \n", df_rank_ascending)
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
'c': [-2, 5, 8, -2.5]})
print("Rank over rows \n", frame)
df_rank_dataframe = frame.rank(axis='columns')
print("Rank over columns \n", df_rank_dataframe)

Rank
 0    6.5
1    1.0
2    6.5
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64
rank- Method=first
 0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64
rank- Method=max
 0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    3.0
dtype: float64
Rank over rows
      b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5
Rank over columns
      b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
print(obj.index.is_unique)
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
print(df.index.is_unique)
df2 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['x', 'y', 'z'])
print(df2.index.is_unique)

False
False
True

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Column1': [1, 2, np.nan, 4],
'Column2': [5, np.nan, 7, 8]})
print(df)

   Column1  Column2
0      1.0      5.0
1      2.0      NaN
2      NaN      7.0
3      4.0      8.0

In [ ]:
df.mean()

Column1    2.333333
Column2    6.666667
dtype: float64

In [ ]:
df.sum(axis=1)

0     6.0
1     2.0
2     7.0
3    12.0
dtype: float64

In [ ]:
df.mean(axis='columns', skipna=False)

0    3.0
1    NaN
2    NaN
3    6.0
dtype: float64

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
'B': [5, 4, 3, 2, 1]})
cumsum_df = df.cumsum()
print("Cumulative sum:\n", cumsum_df)

Cumulative sum:
     A   B
0   1   5
1   3   9
2   6  12
3  10  14
4  15  15

In [ ]:
df_non_numeric = pd.DataFrame({
'Name': ['Alice', 'Bob', 'Charlie', 'Bob'],
'City': ['New York', 'Los Angeles', 'Chicago', 'Alberta'],
'Country': ['USA', 'USA', 'USA', 'Canada']
})
# Summary of non-numeric data
summary = df_non_numeric.describe(include='object')
print(summary)

       Name      City Country
count     4         4       4
unique    3         4       2
top     Bob  New York     USA
freq      2         1       3

In [ ]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, 3, 4, 5],
'B': [5, 4, 3, 2, 1],
'C': [2, 3, 5, 1, 4]}
df = pd.DataFrame(data)
print(df)
correlation_matrix = df.corr()
print("Correlation Matrix:\n", correlation_matrix)
covariance_matrix = df.cov()
print("\nCovariance Matrix:\n", covariance_matrix)

   A  B  C
0  1  5  2
1  2  4  3
2  3  3  5
3  4  2  1
4  5  1  4
Correlation Matrix:
      A    B    C
A  1.0 -1.0  0.2
B -1.0  1.0 -0.2
C  0.2 -0.2  1.0

Covariance Matrix:
      A    B    C
A  2.5 -2.5  0.5
B -2.5  2.5 -0.5
C  0.5 -0.5  2.5

In [ ]:
is_present_multiple = df['A'].isin([2, 4, 6])
print("\nAre 2, 4, and 6 present in column 'A'?:\n", is_present_multiple)

Are 2, 4, and 6 present in column 'A'?:
 0    False
1     True
2    False
3     True
4    False
Name: A, dtype: bool

In [ ]:
df = pd.DataFrame({
'col1': [1, 2, 3, 1, 2, 3, 4, 5],
'col2': [2, 3, 4, 2, 3, 4, 5, 6],
'col3': [3, 4, 5, 3, 4, 5, 6, 7]
})
result = df.apply(pd.value_counts).fillna(0)
print(result)

   col1  col2  col3
1   2.0   0.0   0.0
2   2.0   2.0   0.0
3   2.0   2.0   2.0
4   1.0   2.0   2.0
5   1.0   1.0   2.0
6   0.0   1.0   1.0
7   0.0   0.0   1.0

/tmp/ipython-input-64-3368919746.py:6: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  result = df.apply(pd.value_counts).fillna(0)